<html>
<head>
	  <title>Blog</title>
	<link href="/resources/styles.css" rel="stylesheet" type="text/css">
	  	<style>

	  	</style>
    	    
    <script>
    </script>
</head>
 <body class="body">

	 <div class="inner">
	 	 
		 <div class="header">
				<div class="title">
					<strong>Blog</strong>
				</div>
						 <p class="Poppins"><a href='https://ko-fi.com/H2H814TXG'>Support me!</a></p>
				<div>
				</div>

		<div>
		  <!-- loop over blog posts and render them -->
		  <% posts.forEach((post) => { %>



		  <div class="title">
		  	<strong><a href="/blog/<%= post.title %>"><%= post.title.replace(/_/g, " ") %></a></strong></div>
			<!-- <p class="subtitle"><%= post.date %></p> -->
			<p class="meta"><%= post.date %></p>
			<!-- <div class="section"><%= post.date %></div> -->
		  <% }) %>
		</div>
    
    </div>
</body>
</html>
