<html>
<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140485405-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-140485405-1');
	</script>

	  <title>Bike Sharing Predictions</title>
	  	<link rel="stylesheet" href="../resources/styles-map.css">

		<meta name="description" content="Bike Sharing Predictions">
	<style>

	</style>

	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>



	    <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      
    	
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="">
        <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    
    <script>

      var chartOptions = {
          legend: {
            display: true,
            position: 'top',
            labels: {
              boxWidth: 10
            }
          }
        }
    
	var mymap = undefined;
	
	var LamMarker = [];
	
	var cluster_color = {0: "#cf455c", 1: "#00a79d", 2: "#2d3561", 3: "#f3826f"}
	
	var stations_clusters = {
		"ABANDO":1,
		"AMETZOLA":0,
		"ANSELMO CLAVE":1,
		"ARANGOIT":3,
		"ARANGOITI":0,
		"AREILTZA":2,
		"ARRIAGA":3,
		"ASKATASUNA":0,
		"ASTILLERO":0,
		"AYUNTAMIENTO":0,
		"BASARRATE":0,
		"BLAS OTERO":3,
		"BOLUETA":2,
		"CORAZÓN MARIA":3,
		"EGAÑA":2,
		"EGUILLOR":1,
		"EPALZA":3,
		"ESKURTZE":0,
		"ESTRADA CALEROS":0,
		"ETXEBARRIA":0,
		"GABRIEL ARESTI":0,
		"HEROS":1,
		"IBAIZABAL":0,
		"INDAUTXU":3,
		"KARMELO":0,
		"LEIZAOLA":1,
		"LEVANTE":0,
		"MERCADO RIBERA":3,
		"MOYUA":1,
		"OLABEAGA":0,
		"OTXARKOAGA":0,
		"PLAZA ENCARNACIÓN":0,
		"POLIDEPORTIVO ZORROZA":2,
		"RAMÓN RUBIAL":1,
		"REKALDE":0,
		"SABINO ARANA":2,
		"SAN NICOLAS":3,
		"SAN PEDRO":3,
		"SARRIKO":0,
		"TERMIBUS":1,
		"ZORROZAURRE":2
	}

	
	function onClickCluster(e) {
	
	    var prediction = <%- JSON.stringify(prediction) %>;
	    var actual = <%- JSON.stringify(actual) %>;
        	
    	var popup = e.target.getPopup();
        var content = popup.getContent().replace(/(^\d\d-)/g, "");
        
        
        var prediction_values = JSON.parse(prediction[content])
        prediction_values = Object.values(prediction_values)

        var actual_values = JSON.parse(actual[content])

        actual_values = Object.values(actual_values)        

        var indexes = Object.keys(JSON.parse(prediction[content]))
        
        
        cluster_data = clusters[stations_clusters[content]].map(function(x) { return x * Math.max.apply(Math, prediction_values);; });
   
		
		new_cluster_data = []
		
		for(var i = 0; i < cluster_data.length; i++) {
		
			for(var j=0; j < prediction_values.length / cluster_data.length; j++) {
				
				new_cluster_data.push(cluster_data[i])
				
			}
		}
		        
        var datitos = {

            labels: indexes,
            datasets: [
            {
                label:"Ahora",
                data: actual_values,
                backgroundColor: 'rgba(0, 0, 0, 0.1)',
                borderColor: 'rgba(0, 0, 0, 0.1)',
                borderDash: [5, 5],
                pointStyle: 'line',
                fill: true,
                pointRadius: 0
            },
            {
                label: "Agrupación",
                data: new_cluster_data,
                backgroundColor: cluster_color[stations_clusters[content]] + '50',
                borderColor: cluster_color[stations_clusters[content]],
                pointStyle: 'line',
                fill: true,
                pointRadius: 0

            }
            ]
        }
        
        let ctx = document.getElementById('myChart').getContext('2d');

        var myLineChart = new Chart(ctx, {
            responsive: true,
            maintainAspectRatio: false,
            type: 'line',
            data: datitos,
            options: chartOptions
        });
    }
    
    var myLineChart = undefined;

    function onClick(e) {
    	
        var prediction = <%- JSON.stringify(prediction) %>;
        var actual = <%- JSON.stringify(actual) %>;
        
        mymap.setView([e.latlng.lat, e.latlng.lng]);
        
        var canvas = document.getElementById("myChart");

        var map = document.getElementById("mapid");
        map.style.height = "100%";
        map.style.display = "block";

        var parent = document.getElementById('wrapper');
        parent.style.display = "block";

        canvas.width = parent.offsetWidth;
        canvas.height = parent.offsetHeight;

        var popup = e.target.getPopup();
        var content = popup.getContent().replace(/(^\d\d-)/g, '');
        
        var prediction_values = prediction[content]
        
        var actual_values = actual[content]
        
		var indexes = Object.keys(prediction_values)

		actual_values = Object.values(actual_values)		
		prediction_values = Object.values(prediction_values)

        var datitos = {

            labels: indexes,
            datasets: [
            {
                label:"Predicción",
                data: prediction_values,
                backgroundColor: 'rgba(0, 0, 0, 0.1)',
                borderColor: 'rgba(0, 0, 0, 0.1)',
                borderDash: [5, 5],
                pointStyle: 'line',
                fill: true,
                pointRadius: 0
            },
            {
                label: "Ahora",
                data: actual_values,
                backgroundColor: 'rgba(139,157,195, 0.8)',
                borderColor: 'rgba(139,157,195, 0.8)',
                pointStyle: 'line',
                fill: true,
                pointRadius: 0

            }
            ]
        }
        
        let ctx = document.getElementById('myChart').getContext('2d');

        myLineChart.destroy();
        
        myLineChart = new Chart(ctx, {
            responsive: true,
            maintainAspectRatio: false,
            type: 'line',
            data: datitos,
            options: chartOptions
        });
    }
        
    function selectedPrediction() {
    
		let ctx = document.getElementById('myChart').getContext('2d');

        myLineChart.destroy();
        
        myLineChart = new Chart(ctx, {
            responsive: true,
            maintainAspectRatio: false,
            type: 'line',
            data: [],
            options: chartOptions
        });
    	
    	var parent = document.getElementById('wrapper');
        
        parent.style.display = "none"

        var lat  = "<%= lat %>"; // Where to center the map
        var lng  = "<%= lng %>";
        var zoom = "<%= zoom %>";
        var data       = <%- JSON.stringify(data) %>;
        var prediction = <%- JSON.stringify(prediction) %>;
        var actual     = <%- JSON.stringify(actual) %>;

        for(var i = 0; i < LamMarker.length; i++) {
			
			mymap.removeLayer(LamMarker[i]);
			
			LamMarker[i].options.color = "#3395DE"
			LamMarker[i].options.fillColor = "#3395DE"

			LamMarker[i].addTo(mymap).on('click', onClick);
        }
        
        alert("Bicis es una utilidad para consultar el servicio de préstamo de bicicletas de Bilbao, Bilbao Bizi. Muestra para cada estación su historial de uso durante el día y una predicción estimada del uso que tendrá.")
    }
    
	function init() {
	
		loadMapPins()
		showStartMessage()
	}

	function showStartMessage() {
	
	}
	
	function showMap(position) {
      // Show a map centered at position

		latitude = position.coords.latitude;
		longitude = position.coords.longitude;

		mymap.setView([latitude, longitude], 17);

    }

    function loadMapPins() {
    
    	console.log("Hey! Thanks for using Neural Bikes, if you consider this useful contribute donating money to cover the development and server costs. Thanks, @javierdemartin")
    
    	 navigator.geolocation.getCurrentPosition(showMap);
    
    	var canvas = document.getElementById("myChart");

        var map = document.getElementById("mapid");
        map.style.height = "100%";
        map.style.display = "block";

        var parent = document.getElementById('wrapper');

        canvas.width = parent.offsetWidth;
        canvas.height = parent.offsetHeight;
    
	    let ctx = document.getElementById('myChart').getContext('2d');
	    
	    myLineChart = new Chart(ctx, {
            responsive: true,
            maintainAspectRatio: false,
            type: 'line',
            data: [],
            options: chartOptions
        });

        var lat  = "<%= lat %>"; // Where to center the map
        var lng  = "<%= lng %>";
        var zoom = "<%= zoom %>";
        var data       = <%- JSON.stringify(data) %>;
        var prediction = <%- JSON.stringify(prediction) %>;
        var actual     = <%- JSON.stringify(actual) %>;

        mymap = L.map('mapid').setView([lat, lng], zoom);

      	L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {detectRetina: true,
                maxZoom: L.Browser.retina ? 12 : 11,
				  maxNativeZoom: L.Browser.retina ? 10 : 11, // 1 level LOWER for high pixel ratio device.
                "attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(mymap);

        for(var i = 0; i < data.length; i++) {

            var lat  = data[i]['lat']
            var lng  = data[i]['lng']
            var name = data[i]['name']

            var popup = L.popup({"maxWidth": "100%", closeOnClick: true,
                 autoClose: true
             }).setContent(name.replace(/(^\d\d-)/g, ""));
            
            
            var marker = new L.circleMarker([lat, lng],
                {"bubblingMouseEvents": true, "color": "#3395DE", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3395DE", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 8, "stroke": true, "weight": 3}
            )
            
            LamMarker.push(marker);
            
			LamMarker[i].addTo(mymap).bindPopup(popup).on('click', onClick);
        }
    }
    </script>

</head>
<body onload="init()">    

    <div class="container">
    
    <div class="segmented_control_wrapper">
		<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me!', '#29abe0', 'H2H814TXG');kofiwidget2.draw();</script> 
	</div>

        <div id="mapid" class="leaflet-container leaflet-retina leaflet-safari leaflet-fade-anim leaflet-grab leaflet-touch-drag" tabindex="0"></div>
           

        
	 	<div class="wrapper" id="wrapper" >
			<canvas id="myChart"></canvas>
		</div>

        
        
    </div>



</body>
</html>