<html>
<head>
<title><%= data.title %></title>
<link href="/resources/styles.css" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 <body class="body">

<div class="inner">	 	 
  <div class="header">
    <div class="title">
		<h2><%= data.name.toUpperCase() %></h2>
    </div>

<span class="section"><%- data.description %></span>

</br></br>

<div>
<% Object.keys(data.social_media).forEach(function(key){ %>
<strong>▸ </strong><a href="<%- data.social_media[key] %>"><strong><%- key %></strong></a>
<% }); %>
</div>

</div>

<p><a href='https://ko-fi.com/H2H814TXG'>Support my projects!</a></p>


</div>

</body>
</html>
