<html>
<head>
<title><%= data.title %></title>
<link href="/resources/styles.css" rel="stylesheet" type="text/css">
    	    
</head>
 <body class="body">

<div class="inner">	 	 
  <div class="header">
    <div class="title">
		<h2><%= data.name.toUpperCase() %></h2>
    </div>
<div class="section"><%= data.latest_update %></div>

<br></br>

<p>This entire website has been generated from <a href="<%- data.source %>">this</a> constantly updated JSON file.</p>

<p><a href='https://ko-fi.com/H2H814TXG'>Support me!</a></p>

<div>
<% Object.keys(data.social_media).forEach(function(key){ %>
<strong>▸ </strong><a href="<%- data.social_media[key] %>"><strong><%- key %></strong></a>
<% }); %>
</div>

<br></br>

<div>
	<% Object.keys(data.things).forEach(function(key){ %>

	<div class="section" style="padding-top: 0px; padding-bottom: 3px; margin-bottom: 20px; border-bottom: 1px solid #C8CACA;">
		<!-- <span class="passive"><%- data.separator %></span> -->
		<%- key %>
	</div>

		<% data.things[key].forEach((vals) => { %>
			<% console.log(vals) %>

			<p> <%= data.separator %><a href="<%- vals.link %>"><%- vals.what %></a> @ <%- vals.where %> (<%- vals.started %> - <%- vals.ended %>)</p> 
			<span><%= vals.subtitle %></span><br></br>

			<q><%= vals.description %></q>
		<% }) %>

		<br></br>
	<% }); %>
</div>

</div>


</div>

</body>
</html>
