<html>
<head>
	  <title><%= data.title %></title>
	<link href="/resources/styles.css" rel="stylesheet" type="text/css">
	
    <script>	
    </script>
</head>
	<body class="body">

	<div class="inner">

		<div class="header">
		<!-- <div class="title">
		<h2><%= data.title %></h2>
		</div> -->


		<div class="section" style="padding-top: 50px; padding-bottom: 3px; margin-bottom: 20px; border-bottom: 1px solid #C8CACA;">
		<%= data.title %>
		</div>
		<div class="meta">
		<%= data.date %> × <%= data.location %>
		</div>

		<p class="Poppins"><a href='https://ko-fi.com/H2H814TXG'>Support my projects on Ko-Fi!️</a></p>
		</div>

		</div>



		<div><%- content %></div>
	</div>

	</body>
</html>
