<html>
<head>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140485405-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-140485405-1');
	</script>

	  <title><%= data.title %></title>
	<link href="/resources/styles-post.css" rel="stylesheet" type="text/css">
	
    <script>	
    </script>
</head>
 <body onload="init()" class="body" id="boo">

	 <div class="inner">
	 
	 
	 	<p class="Poppins"><a href="/blog/ %>">Back</a></p>
	 
		<code><%= data.date %></code><br></br>
		
		
        <h1 class="Poppins"><%= data.title %></h1>
        
        				    <%- include('partials/footer') %>

		<div class="Poppins">
			<%- content %>
		</div>
    </div>


	
</body>
</html>
