<html>
<head>
	  <title>Runs</title>
	<link href="/resources/styles.css" rel="stylesheet" type="text/css">
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	<body class="body">

	<div class="inner">
		<div class="header">
			<div class="title"><h2>I like to run</h2></div>
			<p>I don't like socially sharing my runs on Strava. Instead I created this personal dashboard that loads my latest statistics from <a href="airtable.com">Airtable</a>.</p>
		</div>
		
		<div>
			<div class="section" style="padding-top: 50px; padding-bottom: 3px; margin-bottom: 20px; border-bottom: 1px solid #C8CACA;">
				Goals for this year
				</div>
				
			<div>
			<ul>
			<li><s>Run at least one marathon in 2020 <span class="passive">Sevilla</span></s></li>
			<li>Run 2020kms in 2020</li>
			<li>Run <a href="https://www.everysinglestreet.com/why">every single street</a> in Bilbao</li>
			<li>Run <a href="https://www.bilbao.eus/cs/Satellite?cid=3000076722&language=en&pagename=Bilbaonet%2FPage%2FBIO_contenidoFinal">Bilbao's Green Belt</a> <span class="passive">38 km / 1.400m+</span></li>
			</ul>
			</div>
		
		</div>

		<div>
			<div>
				<div class="section" style="padding-top: 50px; padding-bottom: 3px; margin-bottom: 20px; border-bottom: 1px solid #C8CACA;">
				Runs
				</div>
				
				<div>
					Latest <%- data.runs.length %> runs.
					<div class="grid-container">
					
			<div class="runsWrapper">
			<div><b>Date</b></div>
			<div><b>Distance</b> <span class="passive">km</span></div>
			<div><b>Duration</b> <span class="passive">min</span></div>
			<div><b>♡</b></div>
			<div><b>♡↑</b></div>
			<div><b>Gain</b> <span class="passive">m</span></div>
			
			<% Object.keys(data.runs).forEach((run) => { %>
			
				<div class="box a"><span class="passive"><%- data.runs[run].fields.Date.split("T")[0] %></div>
				<div class="box a"><%- data.runs[run].fields.Distance %></div>
				<div class="box a"><%- data.runs[run].fields.Duration %></div>
				<div class="box a"><%- data.runs[run].fields['Average HR'] %></div>
				<div class="box a"><%- data.runs[run].fields['Max HR'] %></div>
				<div class="box a"><%- data.runs[run].fields['Vertical Gain'] %></div>
			<% }) %>
		</div>	
				</div>					
				</div>
			</div>


		<div class="section" style="padding-top: 50px; padding-bottom: 3px; margin-bottom: 20px; border-bottom: 1px solid #C8CACA;">
		Shoes
		</div>

		<div class="boxWrapper">
		<div><b>Shoe</b></div>
		<div><b>Start Date</b></div>
		<div><b>Distance</b> <span class="passive">km</span></div>
		<div><b>Usage</b> <span class="passive">%</span></div>

			<% Object.keys(data.shoes).forEach((shoe) => { %>

					<div class="box a"><%- data.shoes[shoe].fields.Model %></div>
					<div class="box a"><%- data.shoes[shoe].fields.Start %></div>
					<div class="box a"><%- Math.floor(data.shoes[shoe].fields.Distance)%></div>
					<div class="box a"><%- Math.floor(data.shoes[shoe].fields.Usage) %></div>

			<% }) %>
		</div>


		<div class="section" style="padding-top: 50px; padding-bottom: 3px; margin-bottom: 20px; border-bottom: 1px solid #C8CACA;">
			Workouts
		</div>

		<div class="boxWrapper">
		<div><b>Type</b></div>
		<div><b>Distance</b><span class="passive"> km</span></div>
		<div><b>Average Pace</b><span class="passive"> min/km</span></div>
		<div><b>♡</b><span class="passive"> bpm</span></div>
			<% Object.keys(data.workout).forEach((wo) => { %>
				<div class="box a"><%- data.workout[wo].fields.Name %> </div>
				<div class="box a"><%- Math.floor(data.workout[wo].fields.Distance)%></div>
				<div class="box a"><%- data.workout[wo].fields.Pace %></div>
				<div class="box a"><%- data.workout[wo].fields['AvHR'] %></div>
			<% }) %>
		</div>


		<p class="Poppins"><a href='https://ko-fi.com/H2H814TXG'>Support my projects on Ko-Fi!️</a></p>
	</div>
	
	

	</body>
</html>
